:root{
    --primary-color : #f2c94c;
    --max-width : 600px;

}
body{
    margin: 0;
    font-family: 'Kalam', cursive;
    color: #333333;
    
}
main{
    margin: auto;
    max-width: var(--max-width);
    padding: 1rem;
}
nav{
    background-color: var(--primary-color);
    text-align: center;
}
.container-center{
    padding: 1rem;
    font-size: 3rem;
}

textarea{
    margin-top: 2rem;
    max-height: 20vh;
    width: 105%;
    padding: 1rem;
    font-size: large;
    font-family: inherit;
    display: block;
    box-sizing: border-box;
}
button{
    background-color: var(--primary-color);
    border: none;
    margin: 1rem 0rem;
    padding: 1.5rem 3rem;
    font-size: 1.6rem;
    font-family: 'Kalam', cursive;
    font-style: italic;
}
#output{
    
    min-height: 15vh;
    max-height: 20vh;
    border: 1px solid black;
    width: 100%;
    overflow: scroll;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    text-align: center;
}
footer p {
    max-width: var(--max-width);
    margin: auto;
    
}